{% extends "layouts/main.html" %}

{% block title %}@{{ user.username }} | Редактирование личных данных{% endblock %}
{% load i18n %}

{% block content %}
    <div class="col-12 col-md-9 offset-md-3">
        <div class="row">
            <h1 class="my-3">Редактирование личных данных</h1>
            <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {% load website_filters %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="id_{{ field.name }}">
                                {% translate field.label %}
                        </label>
                        {{ field|add_class:"form-control" }}
                        <div class="form-text">{{ field.help_text }}</div>
                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}

                <button class="btn btn-secondary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
