{% extends "layouts/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Войти{% endblock %}

{% block content %}
    <h1>Войти</h1>
    <p>Чтобы авторизоваться, заполните, пожалуйста, форму:</p>
    <form action="." method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="login" class="btn btn-secondary"></p>
    </form>
        <a class="btn btn-primary" href="{% url 'cabinet:register' %}">Registration
        </a>
    {# АУТОНТИФИКАЦИЯ С ПОМОЩЬЮ VK #}
    <div class="social">
        Войти с помощью:
        <a
           href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
            <img src="{% static '/img/VK-logo.png' %}" class="img-fluid social-logo" alt="VK">
        </a>
    </div>

{% endblock %}