{% extends "layouts/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Войти{% endblock %}

{% block content %}
    <h1>Войти</h1>
    <p>Чтобы авторизоваться, заполните, пожалуйста, форму:</p>
    <form action="." method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="login" class="btn btn-secondary"></p>
    </form>
    <p>Если у вас еще нет аккаунта, то <a href="{% url 'cabinet:register' %}">зарегистрируйтесь</a></p>
{% endblock %}